*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-fluid{
	font-family: 'Boogaloo', cursive;
	background-image: url(https://images.pexels.com/photos/900106/pexels-photo-900106.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.title{
	color: #FFF8DC;
	padding-top: 20%;
}

/* Mobile Styles*/
@media only screen and (max-width: 400px)
{
	#sidenav{
		position: absolute;
	}
}


/* Tablet Styles*/
@media only screen and (min-width: 401px) and (max-width: 960px)
{
	
}

/*Desktop*/
@media only screen and (min-width: 961px) and (max-width: 1440px)
{

}

/*4k*/
@media only screen and (min-width: 1441px)
{
	
}
